<ul class="site-nav">
  {% for link in linklists[linklist].links %}
    <li class="site-nav__item site-nav__item--{{ forloop.index }} site-nav__item--{{ link.title | handle }}{% if link.links != blank %} has-children{%endif%}{% if link.url == page.url or link.url == collection.url %} site-nav__item--active{%endif%} hover-intent">
      <a class="site-nav__item-link" href="{{ link.url }}">{{ link.title }}</a>

      {% if link.links %}
        {% for sub_link in link.links %}
          {% assign has_a_child_list = false %}
          {% if sub_link.links.size > 0 %}
            {% assign has_a_child_list = true %}
            {% break %}
          {% endif %}
        {% endfor %}

        <div class="site-nav__sub-wrapper">
          <div class="container--wide">
            <ul class="sub-nav__list sub-nav__list--{{ link.title | handle }}{% if has_a_child_list %} sub-nav__list--columns{% endif %}">
              {% for sub_link in link.links %}
                <li class="sub-nav__list-item sub-nav__list-item--level-2">
                  <a href="{{ sub_link.url }}">{{ sub_link.title }}</a>

                  {% if sub_link.links.size > 0 %}
                    <ul>
                      {% for sub_sub_link in sub_link.links %}
                        <li class="sub-nav__list-item sub-nav__list-item--level-3">
                          <a href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>

            <ul class="site-nav__promos {{link.handle}}">
              {% assign active_promo_count = 0 %}
              {% for block in section.blocks %}
                {% if block.type == 'nav_promo' and block.settings.nav_item == link.title and active_promo_count <= 4 %}
                  {% assign active_promo_count = active_promo_count | plus: 1 %}
                  <li class="site-nav__promo">
                    <a href="{{ block.settings.url }}">
                      <img class="lazy" data-src="{{ block.settings.image | img_url: '300x200', crop: 'center' }}" />
                      <p class="center fw1 ls2 h6">{{ block.settings.title }}</p>
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}
    </li>
  {% endfor %}
</ul>
