{% assign current_variant = product.selected_or_first_available_variant %}
{% include 'swym-product-view', product: product %}

<main class="content content--no-sidebar" role="main">
  {% section 'product-template' %}

  {% liquid
    assign year = "now" | date: "%Y"
    assign year = year | times: 1 | plus: 1
    assign month_day = "now" | date: "%m-%d"
    assign one_year_in_future = year | append: '-' | append: month_day
  %}

  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Product",
      "brand": "{{ product.vendor }}",
      "mpn": "{{ product.id }}",
      "name": "{{ product.title | strip | escape }}",
      "mainEntityOfPage": "{{ canonical_url }}",
      "url": "{{ canonical_url }}",
      "image": "https:{{ product.featured_image.src | img_url:'2000x' }}",
      "description": "{{ product.description | escape | strip_html | strip_newlines }}",
      "offers": [
        {% for variant in product.variants %}
        {
          "@type": "Offer",
          "priceCurrency": "{{ shop.currency }}",
          "priceValidUntil": "{{ one_year_in_future }}",
          "price": "{{ variant.price | money_without_currency }}",{% if variant.available %}
          "availability": "http://schema.org/InStock",{% else %}
          "availability": "http://schema.org/OutOfStock",{% endif %}
          "sku": "{{ variant.sku }}",
          "url": "{{ variant.url }}",
          "seller": {
            "@type": "Organization",
            "name": "{{ shop.name }}"
          }
        }{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]
      {% if product.metafields.okendo.ReviewAverageValue != '0.0' and product.metafields.okendo.RatingAndReviewCount > 0 %}
      ,"aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "{{ product.metafields.okendo.ReviewAverageValue }}",
        "ratingCount": "{{ product.metafields.okendo.RatingAndReviewCount }}",
        "bestRating":5,
        "worstRating":1
      }
      {% endif %}
    }
  </script>

  {% unless product == empty %}
    <script type="application/json" id="product__json">{{ product | json }}</script>
  {% endunless %}

  <script text="text/javascript">
    var _learnq = _learnq || [];

    var item = {
      Name: {{ product.title|json }},
      ProductID: {{ product.id|json }},
      Categories: {{ product.collections|map:'title'|json }},
      ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
      URL: "{{ shop.secure_url }}{{ product.url }}",
      Brand: {{ product.vendor|json }},
      Price: {{ product.price|money|json }},
      CompareAtPrice: {{ product.compare_at_price_max|money|json }}
    };

    _learnq.push(['track', 'Viewed Product', item]);
    _learnq.push(['trackViewedItem', {
      Title: item.Name,
      ItemId: item.ProductID,
      Categories: item.Categories,
      ImageUrl: item.ImageURL,
      Url: item.URL,
      Metadata: {
        Brand: item.Brand,
        Price: item.Price,
        CompareAtPrice: item.CompareAtPrice
      }
    }]);

    document.querySelector('#add-to-cart-form #add-to-cart').addEventListener('click', function (){
      _learnq.push(['track', 'Added to Cart', item]);
    });
  </script>
</main>
